body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;

  > div {
    min-height: 0;
    flex: 1 1 auto;
  }
}

.App-header {
  display: flex;
  align-items: center;
}

.dark {
  --text-color: white;
  --app-bg: #282c34;
  --dt-fixed-bg: #282c34;

  button {
    color: var(--text-color);
    background-color: var(--app-bg);
  }

  input, select {
    background-color: var(--app-bg);
    color: var(--text-color);
    border-color: var(--text-color);
  }

  dialog, .dialog {
    color: var(--text-color);
    background-color: var(--app-bg);

    .dialog-header {
      .close {
        color: var(--text-color);
        text-shadow: 0 1px 0 black;
      }
    }
  }

  .react-contexify {
    background-color: rgba(40, 40, 40, 0.98);
    box-shadow: 0 2px 15px rgba(0, 0, 0, .4), 0 0 0 1px #222;

    .react-contexify__submenu {
      background-color: rgba(40, 40, 40, 0.98);
    }

    .react-contexify__separator {
      color: #eee;
    }

    .react-contexify__item__content {
      color: var(--text-color);
    }
  }
}

.light {
  --text-color: #282c34;
  --app-bg: white;
  --dt-fixed-bg: white;
}

.App {
  color: var(--text-color);
  background-color: var(--app-bg);
}

.no-wrap {
  white-space: nowrap;
}

.fw { width: 975px; }

.gold-border { border: 2px solid gold;}

@import '../library/style.scss';