.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  align-items: center;
}

.App > div {
  min-height: 0;
  flex: 1 1 auto;
}

.dark .App {
  color: white;
  background-color: #282c34;
  --dt-fixed-bg: #282c34;
}

.light .App {
  background-color: white;
  color: #282c34;
  --dt-fixed-bg: white;
}

.dark button {
  color: white;
  background-color: #282c34;
}

.dark input, .dark select {
  background-color: #282c34;
  color: white;
  border-color: white;
}

.no-wrap {
  white-space: nowrap;
}

.fw { width: 975px; }

.dark dialog {
  color: white;
  background-color: #282c34;
}

.dark dialog .dialog-header .close {
  color: white;
  text-shadow: 0 1px 0 black;
}

.dark .react-contexify {
  background-color: rgba(40, 40, 40, 0.98);
  box-shadow: 0 2px 15px rgba(0, 0, 0, .4), 0 0 0 1px #222;
}

.dark .react-contexify .react-contexify__submenu {
  background-color: rgba(40, 40, 40, 0.98);
}

.dark .react-contexify .react-contexify__separator {
  color: #eee;
}

.dark .react-contexify .react-contexify__item__content {
  color: #fff;
}