.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > div {
  min-height: 0;
  flex: 1 1 auto;
}

.App.dark {
  color: white;
  background-color: #282c34;
  --dt-fixed-bg: #282c34;
}

.App.light {
  background-color: white;
  color: #282c34;
  --dt-fixed-bg: white;
}

.App.dark button {
  color: white;
  background-color: #282c34;
}

.App.dark input {
  background-color: #282c34;
  color: white;
  border-color: white;
}

.no-wrap {
  white-space: nowrap;
}

.fw { width: 975px; }